.main_wrapper {
  height: calc(100vh - 15vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_grid_wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 40%;
  height: 80%;
}

.char_one {
  height: 100%;
  width: 100%;
  font-size: 7rem;
  grid-column: 1/7;
  grid-row: 1/5;
  background-color: rgb(156, 156, 156);
  display: flex;
  justify-content: center;
  align-items: center;
}

.char_two {
  height: 100%;
  width: 100%;
  font-size: 7rem;
  grid-column: 7/13;
  grid-row: 1/13;
  background-color: rgb(18, 180, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}
.char_three {
  height: 100%;
  width: 100%;
  font-size: 7rem;
  grid-column: 1/7;
  grid-row: 5/13;
  background-color: rgb(201, 189, 18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_text_wrapper {
  width: 50%;
  height: 100%;
  background: till;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_text {
  font-size: clamp(4rem, 5rem, 4.5rem);
  line-height: 4.5rem;
  text-transform: capitalize;
  width: 45%;
  color: black;
  font-family: Montserrat;
  font-weight: 900;
}
