.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(165, 3, 52, 0.74);
   */
  background: rgb(221, 221, 221);
}

.form_wrapper {
  height: 85%;
  width: 90%;
  display: flex;
  background: white;
}

.register_img_wrapper {
  height: 100%;
  width: 30%;
  background: url("../public/left.jpg") center no-repeat;
  background-size: contain;
}

.register_form {
  height: 100%;
  width: 70%;
  padding: 4rem;
  background: rgba(255, 0, 0, 0.473);
}
.form_heading_wrapper {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Montserrat;
}
.form_heading {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.form_subheading {
  font-size: 1.4rem;
  margin-top: 2rem;
  opacity: 0.8;
  color: white;
  font-weight: 900;
}
.form {
  padding: 3rem 0;
}

.input_wrappers {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.register_link {
  font-family: Montserrat;
  font-size: 1rem;
  margin-top: 2rem;
  color: white;
}

.register_button {
  font-weight: 900;
  font-family: Montserrat;
  font-size: 2rem;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  color: rgba(255, 0, 0, 0.473);
  border: 0;
  background: white;
}

.home_link {
  margin-top: 3rem;
}

.home_link a {
  font-family: Montserrat;
  font-weight: 900;
  text-decoration: none;
  color: blue;
}
